.list {
  margin-top: 30px;
  color: var(--secondaryTextColor);
  font-weight: 500;
  font-size: 18px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.btn {
  width: auto;
  height: auto;
  cursor: pointer;
  display: inline-block;
  background-color: red;
  border: none;
  outline: none;
  color: var(--bgColor);
}

.btn:hover {
  transform: scale(1.1);
}

.info {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}